:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --alert-info: #63aae3;
    --alert-error: #ff4848;
    --alert-success: #3ece6c;
    --alert-warning: #f7dc43;
}

.dark {
    --theme: rgb(22, 27, 37);
    --entry: rgb(28, 36, 48);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(48, 64, 99);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(32, 40, 54);
    --code-bg: rgb(40, 42, 55);
    --border: rgb(48, 50, 68);
    --alert-info: #084374;
    --alert-error: #8c1d26;
    --alert-success: #0c5f26;
    --alert-warning: #645606;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
