<!-- https://giscus.app/ -->
<script src="https://giscus.app/client.js"
        data-repo="wheelercj/chriswheeler.dev"
        data-repo-id="R_kgDOJ1007A"
        data-category="giscus"
        data-category-id="DIC_kwDOJ1007M4ChEoT"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
